*, a::after, a::before { margin:0; padding:0; box-sizing:inherit; }
:root {
    --blurple: #515fbc;
    --gray: #8e99a1;
}
body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#logo img { 
    margin:16px 0;
}
header {
    background-color: var(--blurple);
    color: #FFFFFF;
}
section {
    padding: 20px;
}
/* ------HERO--------- */
section#hero {
    flex-direction: column;
    align-items: center;
    background-color: var(--blurple);
    color: #FFFFFF;
}
#hero h1 {
    font-size:1.8rem;
    font-weight: 500;
}
#hero h3, small {
    font-weight:300;
    padding:12px 0;
}
.form-cta input {
    min-width: 300px;
    line-height: 2rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding:6px;
    font-size: 1.2rem;
}
.form-cta button {
    line-height: 2rem;
    padding: 7px 24px;
    font-size: 1.2rem;
    color:#FFFFFF;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
}
section#big-image {
    height:inherit;
    background-color: var(--blurple);
    position: relative;
}
#articles .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 840px;
    margin:auto;
    text-align: left;
}
#articles article {
    flex-basis: 30%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

}
#articles article img {
    height: 60px;
    width: 60px;
    padding-bottom: 12px;
}
#articles article h4 {
    min-height: 50px;
}
#articles article p {
    min-height:140px;
    font-weight:300;
}
footer>ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer>ul>li {
    margin:10px;
}